.jumbotron {
  padding: 2rem 2rem;
}

.user-card {
  margin-bottom: 20px;
  max-width: max-content;
}

.collapse {
  max-height: 400px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.top-content-container {
  margin-bottom: 20px;
}