.card {
  padding: 5px 0px;
}

.row {
  margin: 5px 0px;
}

.custom-switch {
  margin-bottom: 5px;
}

.container {
  margin-top: 20px;
  max-width: max-content;
}

.info-container { 
  max-width: 100%;
}

.list-group {
  max-height: 400px;
  max-width: 350px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.seed-genre-container {
  margin: 20px 20px 0px 0px;
}

.form-control {
  margin: 5px 0px 20px 0px;
}

.custom-control {
  margin: 10px 0px;
}

.tab-card {
  margin: 10px;
  height: max-content;
}

.form-container {
  margin-bottom: 20px;
}

.seed-container {
  padding: 10px;
}

.btn {
  margin: 10px 0px 0px 0px;
}

.advanced-option-label {
  text-align: center;
  padding: 0px 0px;
  /* padding: 36px 0px; */
}